body {
  margin: 0 !important;
}

.bg-lightblue {
  background-color: rgb(217, 237, 244);
}

.navbar .navbar-brand {
  color: #c80203;
  font-weight: bold;
}

.navbar .navbar-brand:hover {
  color: #c80203 !important;
}

.nav-link.active {
  font-weight: bold;
  color: green !important;
}

.nav-item a {
  text-decoration: none !important;
}

.parts-list .part {
  padding: 15px 15px;
}

.border-blue {
  border-color: lightblue !important;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
}

.contact-info,
.useful-links {
  width: 30%;
}

.useful-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.useful-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.useful-links ul li a:hover {
  color: #ccc;
}

.copyright {
  text-align: right;
}

.background-image {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: "no-repeat";
  background-attachment: "fixed";
  min-height: "100vh";
}
